body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #000000;
}
nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 20px 50px;
    text-decoration: none;
    color: #ffffff;
}
nav ul li a:hover {
    background-color: #200135;
    color: #ff8be6;
}

#content {
    margin-left: 250px;
    transition: margin-left 0.5s;
}

#section1 {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section2 h2, #section3 h2, #section4 h2 {
    text-align: center;
}
    
#section2 p, #section3 ul, #section4 ul {
    text-align: center;
}

#section3 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    }
    
    #section3 li {
    margin: 0 10px;
    }
    
    #section3 li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    }
    
    #section3 li a i {
    margin-right: 5px;
    }

#section4 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    }
    
    #section4 li {
    margin: 0 10px;
    }
    
    #section4 li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    }
    
    #section4 li a i {
    margin-right: 5px;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding: 10px;
    text-align: center;
}

.profile-image{
    border: 2px solid black;
    border-radius: 10px;
}

.project-image {
    width: 50px;
    height: 50px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

nav {
    background-color: #353535;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #353535;
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#content {
    margin-left: 0;
    transition: margin-left 0.5s;
}

#content.active {
    margin-left: 250px;
}